@using CalisanTakip.Common.ConstantsModel
@model IEnumerable<CalisanTakip.Common.ViewModels.EmployeeLeaveRequestVM>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="page-content">
    <div class="page-header">
        <h2>Çalışan İzin Talep Listesi</h2>
    </div><!-- /.page-header -->
    <br />
    <div class="col-6 text-left text-white">
        <a class="btn btn-success" asp-controller="EmployeeLeaveRequest" asp-action="Create">Talep Ekle</a>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <table id="simple-table" class="table  table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Başlangıç Tarihi</th>
                                <th>Bitiş Tarihi</th>
                                <th>Sebep</th>
                                <th>İşlemler</th>
                                <th>Durum</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.StartDate.ToShortDateString()</td>
                                    <td>@item.EndDate.ToShortDateString()</td>
                                    <td>@item.LeaveTypeText</td>
                                    @if(item.ApprovedStatus == EnumEmployeeLeaveRequestStatus.Send_Approved)
                                    {
                                            <td style="color:blue">@item.ApprovedText</td>
                                    }
                                     @if (item.ApprovedStatus == EnumEmployeeLeaveRequestStatus.Approved)
                                    {
                                            <td style="color:green">@item.ApprovedText</td>
                                    }
                                     @if(item.ApprovedStatus == EnumEmployeeLeaveRequestStatus.Rejected)
                                    {
                                            <td style="color:red">@item.ApprovedText</td>
                                    }
                                    @if (item.ApprovedStatus != EnumEmployeeLeaveRequestStatus.Approved)
                                    {
                                        <td>
                                            <div class="hidden-sm hidden-xs btn-group">
                                                <a class="btn btn-xs btn-info" asp-controller="EmployeeLeaveType" asp-route-id="@item.Id" asp-action="Edit">
                                                    <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                </a>

                                                @*  <button class="btn btn-xs btn-danger">
                                                    <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                    </button>*@
                                                <a class="btn btn-xs btn-danger" onclick="removeItem(@item.Id)" data-id="@item.Id">
                                                    <i class="ace-icon fa fa-trash bigger-120"></i>
                                                </a>

                                                <button class="btn btn-xs btn-warning">
                                                    <i class="ace-icon fa fa-flag bigger-120"></i>
                                                </button>
                                            </div>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div><!-- /.span -->
            </div><!-- /.row -->

        </div>
    </div>
</div>
